<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="header">
    <h1>
        ASP.NET MVC MUSIC STORE
    </h1>
    <ul id="navlist">


        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Store", "Index", "Store")</li>
        <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
        <li>@Html.Partial("_LoginPartial")</li>
    </ul>

</div>
@{Html.RenderAction("GenreMenu", "Store");}
<div id="main">
    @RenderBody()
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

